body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }

.title {
  text-align: center;
  color: #333;
  font-family: "Arial", sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
}

.title i {
    margin-right: 10px;
    color: gold;
  }

.title-image {
    width: 250px; 
    height: 250px;
    vertical-align: middle;
    margin-right: 10px; 
    border-radius: 50%; 
  }
  
  #quiz {
    margin-bottom: 20px;
  }
  
  .question {
    margin-bottom: 10px;
  }
  
  .answers label {
    display: block;
    margin-bottom: 5px;
  }
  
  #submit {
    display: block;
    margin: 0 auto;
  }

  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 70px;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 70px;
  }
  
  .quiz-container {
    margin-bottom: 20px;
  }
  
  .submit-1 {
    margin-top: 40px;
    background-color: red;

  }

footer {
    text-align: center;
}
